.row{
    width: 100%;
}
  .column img{
    width: 100%;
    overflow: hidden;
  }
  /* Float four columns side by side */
  .column {
   height: max-content;
    width:50%;
    text-align:center;
    padding:7px;
    float:left;
  }
  
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      height: max-content;
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    position: relative;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 14px;
    padding:2px;
    margin:0 auto
  }
  .card__overlay {
    top: 0;
    position: absolute;
    height:  100%;
    border-radius: 14px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#746f6ff0;
  }
  
.card:hover .card__overlay {
  opacity: 1;
}