.btn {
    font: inherit;
    cursor: pointer;
    background-color: #ed0303ba;
    border: 1px solid white;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.btn:hover,
.btn:active {
    background-color:#ed0303ba;
    border-color:#ed0303ba;
}